.elastic-ocr-tester {

  padding-left: 24px;
  padding-right: 24px;
}

.alert {

  margin-top: 8px;
}

.view-tabs {

  padding: 8px;
}

.view-tabs .tab-content {
  
  padding: 16px;
}

.control-label, 
.form-inline .form-group {

  padding-right: 8px;
}

.endpoint-form input{

  min-width: 290px;
}
